header {
  box-shadow: 0px 0.3px 5px 0.3px rgb(179, 177, 177);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--secondary-color-text-header);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
}

nav > div,
nav > ul {
  align-items: center;
  display: flex;
  gap: 20px;
}

.main-nav i {
  font-size: 0.7rem;
  color: #1f2a37;
}

.main-nav li:hover {
  cursor: pointer;
}

.main-nav li:nth-last-child(2):hover .tooltip.blog,
.main-nav li:nth-last-child(1):hover .tooltip.pro {
  visibility: visible;
}

.main-nav,
.nav-actions {
  display: none;
}

@media (min-width: 60rem) {
  .main-nav,
  .nav-actions {
    display: flex;
  }
  .mobile-menu-btn {
    display: none;
  }
}
